// benefit-header.less
@benefit-height: 428px;


.uwaa-benefit-header{
    .make-row();
    
    
}

.benefit-image{
    .make-sm-column(6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: @benefit-height;
    
}


.benefit-logo{
    .make-sm-column(6);    
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center center;
    height: @benefit-height;
    background-color: @purple;
    padding: 30px;
    text-align: center;
    display: table;

    h1
    {
        color: @white;        
        display: table-cell;
        font-size: 3.5em;
        vertical-align: middle;



    }
}



@media only screen and (max-width : 767px) {
    .benefit-logo {
        height: (@benefit-height * .66666666);
    }

    .benefit-image {
        .responsive-invisibility();
    }



   
}

