// chapter-header.less

.uwaa-chapter-header {
    height: 260px;
    overflow: hidden;
    


.chapter-image-column{
    .make-sm-column(6);
    height: inherit;
    background-size: cover;
    background-position: center;

  

    
}

.chapter-logo {
    .make-sm-column(6);
    height:100%;
    background-color: @purple;
    text-align: center;
    padding: 0;


    svg {
        height:100%;
        width: 70%;
        

        #Huskies path{
            fill: @white;
        }

        #Region path, rect {
            fill: @lightgold;
        }
    }
}       

}


//Tablet range, cut height in half but keep all content


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .uwaa-chapter-header {
        height:200px;
    

    .chapter-image-column{
        .responsive-invisibility();
        
    }  
    } 

   
}