// communities-header.less


.uw-homepage-slider-container {

&.communities-header {
    .make-row();
    height: 450px;   
    


.chapter-image-column{
    .make-sm-column(6);
    overflow: hidden;
    
}

.chapter-image-row{
    .make-row();
    height: 260px;
}
.chapter-image{
    .make-sm-column(12);
    height: 100%;   

}


.chapter-logo {
    .make-sm-column(12);
    height:190px;    
    background-color: @gray;
    text-align: center;
    padding: 10px 0;


    svg {
        height:100%;
        width: 70%;
        
        #Region path, rect {
            fill: @darkgold;
        }

        #Huskies path{
            fill: @purple;
        }
    }
}    
    



.event-information-column{
    .make-sm-column(6);
    height:450px;
    background-color: @purple;
    overflow: hidden;

    h1, h2, h3 {
        color: @white;
        text-transform: uppercase;
        padding-left: 15px;
    }

    h1 {
        font-size: 40px;
        line-height: 1;
        margin-top: 9px;
        
    }

     h2{
       margin: 20px 0 0;
       font-weight: 900;
       font-size: 1.2em;
       font-weight: 800;       
       letter-spacing: 1px;
       

       &.date{
        margin-top: 10px;
       }
      }

   
    
      a.uw-btn {
        margin-top: 39px;
        margin-left:15px;
            &:after {
              background-color: @darkgold;
              height: 44px;
              margin-top: -22px;
            }
        }

      
   

    p{
      margin-top: 15px;
     }

     
}
}

}



  .uw-homepage-slider-container {
    &.uwaa-communities-slider {

      .slideshow-controls{

        &:after {
         display: none;
        }

        p.next-headline {
          width: 275px;
          right: 12%;
          bottom: 77px;
          font-size: 15px;
          font-weight: 800;

        } 

      }

    }

  }



//Tablet range, cut height in half but keep all content


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .uwaa-chapter-header {
    height: 200px;
    }

    .chapter-image-row{
        .responsive-invisibility();
        
    }

    .chapter-logo{
        height: 100px;
        
    }

    .event-information-column{
        height: 100px;
    }
   
}




@media only screen and (max-width: 1600px) {

  .uw-homepage-slider-container {

  &.uwaa-communities-slider {

    .slideshow-controls {

    &:after{
      right: 6%;
    }

    p.next-headline {
    width: 275px;
    right: 4%;
    }

  }

}
}

  }



@media only screen and (max-width: 1200px) {

  .uw-homepage-slider-container {

  &.uwaa-communities-slider {

    .slideshow-controls {

    &:after{
      right: -3%;
    }

    p.next-headline {
    width: 170px;
    right: 4%;
    }

  }

}
}

  }













