.uwaa-convio-wrapper{  

  

  .event-registration-header{
    .make-row();
    height: 150px;

  }

  .convio-content{
    .make-row();
  }

  .convio-footer{
    .make-row();
    background-color: @purple;
    height: 100px;
  }


    
}