// dawgdash23.less

// lg -1200
// sm - 992
// xs - 768
//

@ddyellow: #FFD637;
@ddpurple: #36246a;
@ddlightpurple: #9880B8;


.dawgdash-container {
    font-size: 18px;

    /* Medium devices (desktops, 1199px and lower) */
    @media (max-width: @screen-md-max) {
        font-size: 15px;
    }

    /* Small devices (desktops, 991px and lower) */
    @media (max-width: @screen-sm-max) {
        font-size: 13px;
    }

    /* X-Small devices (desktops, 767px and lower) */
    @media (max-width: @screen-xs) {
        font-size: 11px;
    }
}

.page-id-56639, .page-id-285 {

        .black-background {
            background-color: @black;
            color: @white;

        }
    
        .yellow-background {
            background-color: @ddyellow;
            color: @ddpurple;
        }

        .light-purple-background {
            background-color: @ddlightpurple;
            color: @ddpurple;
        }


        .dawgdash-header {
            .make-row();
            display: flex;
            flex-wrap: wrap;
            background-color: @black;
            align-items: center;
            background-image: url('assets/dawgdash23/Dawg-Dash-Header_656x730.png');
            background-repeat: no-repeat;
            background-size: 35% auto;
            background-position: bottom right;
            background-blend-mode: screen;            
    
    
            .image {
                .make-xs-column(12);
                .make-sm-column(6);
                // .hidden-sm();            
                padding: 10vh 0;
                text-align: right;
    
                img {
                    object-fit: cover;
                    height: auto;
                    object-position: center center;
                }

                // when xs viewport - rremove height;
                @media (max-width: @screen-xs-max) {
                    padding: 10px;
                    text-align: center;;
                }
            }
    
            .text {
                .make-xs-column(12);
                .make-sm-column(6);
                padding: 50px;
                color: @ddyellow;
                background-color: transparent;    
                
    
                @media (min-width: @screen-sm-min) AND (max-width: 900px) {
                    font-size: 11px;
                }
    
                h1 {
                    font-family: "Encode Sans Wide", sans-serif;
                    text-transform: uppercase;
                    font-weight: 900;
                    font-size: 4em;
                    margin: 0;
                    line-height: 1;
                    
    
                }
    
                p {
                    color: @white;
                    font-size: 1.5em;
                    line-height: 1.5;
                    margin-bottom: 0;
    
                }
    
            }
        }

        .register-row{
            .make-row();
            background-color: @ddyellow;                                  
            padding-top: 5px;
            padding-bottom: 5px;

            .register-row-content {
                .make-xs-column(12);                
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 10px 0;

                p {                                                           
                    font-family: "Encode Sans Wide", sans-serif;
                    text-transform: uppercase;
                    font-weight: 900;
                    font-size: 2.5em;
                    margin: 0;
                }

                .btn {                    
                    vertical-align: middle;
                    border-color: @white;
                    color: @ddyellow;
                    font-size:2em;
                    font-family: "Encode Sans Wide", sans-serif;
                    font-weight: 900;
                    margin-left: 5%;
                    text-transform: uppercase;
                    padding: 15px 45px;
                }
            }
        }

                .details-row {
                    .make-row();
                    display: flex;
                    flex-wrap: wrap;
                    background-color: @black;
                    align-items: center;
                    background-image: url('assets/dawgdash23/Dawg-Dash-Registration_656x743.png');
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-position: right;
                    background-blend-mode: screen;

                    .copy {
                            .make-xs-column(12);
                            .make-sm-column(6);
                            padding: 50px;                            
                            background-color: transparent;
                    
                    
                            @media (min-width: @screen-sm-min) AND (max-width: 900px) {
                                font-size: 11px;
                            }
                    
                            h2 {
                                font-family: "Encode Sans Wide", sans-serif;
                                color: @ddlightpurple;
                                text-transform: uppercase;
                                font-weight: 900;
                                font-size: 3em;
                                margin: 0;
                                line-height: 1;
                    
                    
                            }
                    
                            p {
                                color: @white;
                                font-size: 1em;
                                line-height: 1.5;
                                margin-bottom: 0;
                    
                            }

                            ul{
                                list-style: none;
                                padding: 0;
                                margin-top: 15px;

                                .price{
                                    margin-left: 15%;
                                }
                            }
                    
                        }
        
        
                    .image {
                        .make-xs-column(12);
                        .make-sm-column(6);
                        // .hidden-sm();
                        text-align: right;
        
                        img {
                            object-fit: cover;
                            height: auto;
                            object-position: center center;
                        }
        
                        // when xs viewport - rremove height;
                        @media (max-width: @screen-xs-max) {
                            padding: 10px;
                            text-align: center;
                            ;
                        }
                    }
        
                    
                }

                .membership-special-row {
                    .make-row();
                    .hidden-sm;
                    .hidden-xs;
                    background-color: @ddlightpurple;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 10px 0;

                    .subtitle{
                        .make-md-column(5);
                        .make-md-column-offset(1);
                        font-family: "Encode Sans Wide", sans-serif;
                        font-weight: 900;
                        font-size: 2em;
                        text-transform: uppercase;
                        line-height: 1;
                        text-align: left;
                    
                    }

                    .price{
                        .make-md-column(2);
                        font-family: "Encode Sans Wide", sans-serif;
                        font-weight: 900;
                        font-size: 3.5em;
                    }

                    .copy{
                        .make-md-column(5);

                        p{
                            margin: 0;
                            color: @ddpurple;
                            font-family: "Open Sans", Arial, sans-serif;
                            font-weight: 900;
                            font-size: 1em;
                            text-align: left;
                        }
                    }
        
                    
                }
        
                .registration-item-row{
                    .make-row();

                    .registration-item{
                        .make-sm-column(4);
                        min-height: 389px;
                        
                        h2{
                            color: @ddlightpurple;
                            font-family: "Encode Sans Wide", sans-serif;
                            font-weight: 900;
                            font-size: 2em;
                            text-transform: uppercase;

                        }

                        .subhead{
                            color: @ddyellow;
                            font-family: "Encode Sans Wide", sans-serif;
                            font-size: 1.5em;
                            text-transform: uppercase;
                            font-weight: 900;

                        }

                        .copy {
                            color: @white;
                            font-family: "Open Sans", Arial, sans-serif;
                            font-size: 1em;
                            line-height: 1;
                        }

                        .price{
                            color: @ddyellow;
                            font-family: "Encode Sans Wide", sans-serif;
                            font-size: 1.5em;
                            text-transform: uppercase;
                            font-weight: 900;
                        }

                        &.pups{
                            background-image: url('assets/dawgdash23/Dawg-Dash-PupsRun_219x197.png');
                            background-repeat: no-repeat;                            
                            background-position: bottom right;
                        }

                        &.dogs{
                            background-image: url('assets/dawgdash23/Dawg-Dash-Dawgdanna_219x197.png');
                            background-repeat: no-repeat;                            
                            background-position: bottom right;
                        }

                        &.virtual{
                            background-image: url('assets/dawgdash23/Dawg-Dash-Virtual_219x197.png');
                            background-repeat: no-repeat;                            
                            background-position: bottom right;
                        }


                    }
                }

                .sponsor-block-row{
                    .sponsor-block{
                        .make-xs-column(12);
                        height:375px;
                        background-size: cover;
                        background-repeat: none;
                        

                        

                        &.half-size{
                            .make-md-column(6);                                                    

                            
                            
                        }

                        &.alaska{
                            background-image: url('assets/dawgdash23/SPR_051922_UW Dawg Dash Ad and Backdrop_Web Banner_R32.png');
                            height:292px;
                            
                        &.half-size  {
                                background-image: url('assets/dawgdash23/2023_Dawg-Dash-Module2-Alaska_658x375.png');
                                height: 375px;
                            }

                        }

                        &.brooks{
                            background-image: url('assets/dawgdash23/2023_Dawg-Dash-Module3-Brooks_1200x375.png');

                        &.half-size  {
                            background-image: url('assets/dawgdash23/2023_Dawg-Dash-Module2-Brooks_638x375.png');
                            
                        }
                        }
                    }
                }

                .map-row{
                    // mapbox stuff
                }

                .faq-row{
                    .faq-content{
                        .make-xs-column(12);
                    }
                }

                .banner-row{
                    .make-row();

                    div {
                        
                        background-repeat: no-repeat;
                        background-position: center;                      

                        
                        
                        &.banner-lg{
                            background-image: url('assets/dawgdash23/2023_Dawg-Dash-Rule_1200x284.png');
                            
                            .visible-md();
                            .visible-lg();
                            .hidden-xs();
                            height: 284px;
                        }

                        &.banner-sm{
                            background-image: url('assets/dawgdash23/2023_Dawg-Dash-Rule_380x160.png');
                            
                            .hidden-md();
                            .hidden-lg();
                            .visible-xs();
                            height: 160px;
                        }
                    }
                }

}