#lecture-signup-wrapper {
        padding: 10px;
        height: 0;
        widows: 0;
        // -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
        transition: height .5s linear;
        z-index: 1010;

        &.special-emphasis {
            background-color: @white;            
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            width: 1140px;
            max-width: 100%;
        }

        iframe, p {
            display: none;
            visibility: hidden;
            opacity: 0;
            
        }


        .lecture-signup-cover {
            height: 100%;
            width:100%;
            transition: opacity 1s linear;            
            opacity: 0;
        }

        &.iframe-opened{
            visibility: visible;
            display: block;
            border: 1px solid @purple;
            margin-bottom: -1px;
            height: 240px;

            .lecture-signup-cover {
                height: 100%;
                width: 100%;
                opacity: 1;
            }


            iframe, p {
                display: block;
                visibility: visible;
                opacity: 1;
            }

        }
    }
 

.emphasis-background {

  /* recommendation:
     don't focus on the number "1000" here, but rather,
     you should have a documented system for z-index and 
     follow that system. This number should be pretty
     high on the scale in that system.
  */
  z-index: 9;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  visibility: hidden;
 
  &.signup-has-emphasis{
      background-color: #000000;
      opacity: .6;
      display: block;
      visibility: visible;
  }

}