//featured-post.less
//
//
//


.featured-post {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width:20%;


    .copy {
        color: @darkgray;
        padding: 0 0 10px 10px;
        box-shadow: -1px 2px 2px @gray, 1px 2px 2px @gray;


        a {

        }

    //Typography
        h4{
            margin: 0;
        }
        h5.subtitle{
            text-transform: uppercase;
            color: @darkgold;
            padding:0;
            margin:0;
        }
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .featured-post {
        width: 100%;
        clear:right;
        float:none;
        .center-block;
    }
}