//featured-post.less
//
//
//


.featured-post {
   

    &.five-column {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width:20%;

    }

    &.four-column {
    .make-xs-column(3);
    }



    .copy {
        color: @darkgray;
        padding: 0 0 10px 10px;
        box-shadow: -1px 2px 2px @gray, 1px 2px 2px @gray;
        height: 255px;
        padding-top: 5px;


        a {

        }

    //Typography
        h4.title{
            margin: 0;
            font-weight: 600;
            padding-bottom: .706em;
        }

        h4.date{
            font-size: 1em;
            font-weight: 700;
            padding-bottom: .059em;
            margin: 0;
        }
        h6.subtitle{
            text-transform: uppercase;
            color: @lightgold;
            padding:0;
            margin:0;
            font-weight: 900;
            padding-bottom: .294em;
        }
        p {
            font-size: .94em;
            line-height: 1.37;
        }
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .featured-post {
        width: 100%;
        clear:right;
        float:none;
        .center-block;
    }
}

