@import (reference) "style.less";

.page-holidays {

    #uw-container{

        .uw-body{
            background-color: unset;            

            .loader{
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
                left: 0;                // background-color: rgba(0, 0, 0, 80%);
                z-index: 4;
                @patternsize: 100px;
                background-image:
                    linear-gradient(45deg,transparent 90%,lighten(@purple,10%) 90%),
                    linear-gradient(-45deg,transparent 90%,lighten(@purple,10%) 90%),
                    linear-gradient(-315deg,lighten(@purple,10%) 10%,transparent 10%),
                    linear-gradient(315deg,lighten(@purple,10%) 10%,transparent 10%),
                    linear-gradient(45deg,transparent 49%,@purple 49%,@purple 51%,transparent 51%),
                    linear-gradient(-45deg,transparent 49%,@purple 49%,@purple 51%,transparent 51%),
                    // linear-gradient(45deg,transparent 45%,fade-out($@lightgold,.5) 45%,fade-out($@lightgold,.5) 55%,transparent 55%),
                    // linear-gradient(-45deg,transparent 45%,fade-out($@lightgold,.5) 45%,fade-out($@lightgold,.5) 55%,transparent 55%),
                    radial-gradient(circle,darken(@purple,5%) 0,darken(@purple,5%) 50%,transparent 50%);
                background-size:@patternsize @patternsize;
                background-color:@purple;
            }
            
        }

        #uw-container-inner {
        background-image: url('assets/holiday_background.jpg');        
        background-color: unset;     
    }

    }

    .mantle{

        background-image: url('assets/2020_Holiday-Card-Mantle_1920x481.jpg');
        height: 16vw;
        min-height: 25vw;
        background-size: cover;
        background-position: bottom;
        box-shadow: inset -7px 7px 4px 1px @purple, inset 7px 7px 4px 1px @purple;

        @media only screen and (min-width : @screen-lg) {
             min-height: 294px;
        }

        // @media only screen and (max-width : @screen-sm-max) {
        //     min-height: 192px;
        // }

        // @media only screen and (max-width : @screen-xs-max) {
        //     min-height: 192px;
        // }

        .hit-area{
            min-width: 44px;
            min-height: 44px;
            cursor: pointer;            
            animation: pulse 3.0s infinite;            


            &:hover{
                border: 1px solid blue;

            }
        }

        #snowglobe{
            position: absolute;
            top: 60%;
            left: 33%;
            height: 9vw;
            width: 9vw;
            border-radius: 50%;

            // Breakpoint Shift
            @media only screen and (min-width : @screen-lg) {                
                width: 108px;
                height: 114px;
                left: 33.8%;
            }
            
            
        }

        #boys36{
            position: absolute;
            top: 59%;
            left: 58%;            
            height: 11vw;
            width: 7vw;

            // Breakpoint Shift
            @media only screen and (min-width : @screen-lg) {
                top: 53%;
                width: 84px;
                height: 132px;            
            }

            
        }
        
        // Adjusting boys36 hit area
        @media only screen and (max-width : 600px) {
            #boys36.hit-area {
                min-width: 30px;
            }
        }

        @media only screen and (max-width : 425px) {
            #boys36.hit-area {
                min-width: 30px;
            }
        }

        @media only screen and (max-width : 375px) {
            #boys36.hit-area {
                min-width: 25px;
                min-height: 30px;
            }
        }

        @media only screen and (max-width : 320px) {
            #boys36.hit-area {
                min-width: 23px;
                min-height: 28px;
            }
        }

        #denny{
            position: absolute;
            top: 17%;
            left: 43%;
            height: 21vw;
            width: 15vw;          

            // Breakpoint Shift
            @media only screen and (min-width : @screen-lg) {                
                width: 180px;
                height: 252px;            
            }
        }

        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
            @keyframes fadeout {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
            @keyframes pulse {
            from { background-color: rgba(0, 0, 0, 0); }
            to { background-color:  rgba(0, 0, 0, 30%); }
        }

        
    }
    
    


    .fireplace-video {
        .shadow{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: inset -7px -7px 4px 1px @purple, inset 7px -7px 4px 1px @purple;
            z-index: 1;
        }
        
        video {
            width: 100%;
            z-index: 2;
            position: relative;
            margin-bottom: 5px;
        }

        
    }

    .uw-body-copy {
        margin-top: 15px;
    }



    .modal-dialog {
        margin: 100px auto;
        font-size: 17px;
    };
    

    .modal-content{
        background-color: @white;


        .carousel{
            height: 330px;

            // img {
            // display: block;
            // width: 100%;
            // }

        }

        .modal-header{

            border-bottom: none;
            padding-bottom: none;

            h4{
                font-size: 4rem;
                color: @purple;
                text-transform: uppercase;                
            }
        }

        .modal-body{
            padding-top: none;

            iframe {
                margin: 0;
            }
            
            p {
                font-size: 1.5rem;
                font-family: 'Uni Sans', sans-serif;
                font-weight: 800;
            }

            h4 {
                color: @purple;
                text-transform: uppercase;
            }
            

            .center-block {
                margin-bottom: 10px;
            }
            
            .modal-square-image{
                width: 40%;
                margin-right: 15px;
            }
        }

        .modal-footer {
            border-top: none;

            .btn {
                background-color: @purple;

                &:hover{
                    background-color: @lightgold;
                    color: @janegray;
                }
            }
        }
    }


}