// homepage.less


.uwaa-home-branding-row {
    // margin-top: 10px;

    .uw-breadcrumbs {
        padding: 25px 20px 0 30px;
    }


    .uwaa-home-branding{
           padding-bottom: 8px;
           line-height: 1.1;
           text-align: right;
    


    em {
       font-size: 12px;
        letter-spacing: -.1px; 
    
    }

}

    .logo {


        svg {

            width: 40%;
            height: 100%;

            g path {
                fill: @purple;
            }
            
        }
        
    }
}

#message-row {
    .make-row();
    background-image: url(assets/Home_Message_Image.jpg);
    background-size: cover;

    .content {
        .container();
        text-align: center;
        
        h2 {
        	color: @purple;
            font-size: 2.3em;
            margin-bottom:4px;
            line-height: 1.1;
    	}

    	p {
    		color: #000000;
    		font-size: 1.11em;
            padding:0 15px 0;
            margin: 0 0 18.5px;

    	}


    }
    
}


/* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
       
    }
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

        #message-row .content {
            h2{
            font-size: 2.2em;
            }

            p {
                font-size: 1em;
            }
        }
        
    }
    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        
    }
    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
      

    }