// homepage.less


#message-row {
    .make-row();
    background-image: url(assets/home_temp_bkground.png);
    background-size: cover;

    .content {
        .container();
        text-align: center;
        color: @white;

    }
    
}