// membership.less

.membership-card{
    position: relative;
    width: 302px;
    height: 192px;
    border-radius: 10px;

    &.annual{
        background-image: url(assets/201501_member_card_annual_pic.jpg);
    }

    &.life{
        background-image: url(assets/201501_member_card_life_pic.jpg);

        p{
            color: @white;
        }
    }

    p {
        position: absolute;
        margin:0;
        padding: 0;
        left: 10px;
        font-size: 13px;


        &.member-name {
            top: 147px;
            font-weight: 700;

        }

        &.member-number{
            top: 123px;

        }

        &.renewal{
            top: 163px;
        }
    }
}

#memberloginForm {
    label {
        position: absolute;
        top: 10px;
        left: 18px;
        visibility: hidden;
    }

    div {
        position: relative;
    }

    input {        
        width: 100%;
        height: 44px;
        margin-top: 10px;
        padding-left: 15px;


        &#loginSubmit{            
            border: none;  
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 44px;
            height: 44px;            
            text-indent: -99999px;            
            overflow: hidden;            
            background: url(assets/uwaa-sprite.svg) no-repeat -42px -479px @purple;                
            }        
    }
}

a#memberCheckerLogout {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

#join-renew-buttons {
    padding: 20px 20px 20px 40px;
    background-color: white;
    margin-top: -124px;

   

    .uwaa-btn-wrapper {
        margin-right: 0;
        text-align: center;
        margin-bottom: 0;

        &:last-child{
            margin-left: 23px;
            
        }

    }

    .uwaa-btn{        
        background-color: @gray;
        color: @purple;        
        

        &.uwaa-btn-join {
            width: 146px;
        }

        &.uwaa-btn-renew {
            width: 126px;
        }

        &:hover, &:active {
            background-color: @purple;
            color: @white;

        }


        @media only screen and (min-width: 993px) and (max-width: 1199px) {

             &.uwaa-btn-join {
            width: 115px;
        }

        &.uwaa-btn-renew {
            width: 90px;
        }



        }


        

    }  

     @media only screen and (max-width:991px) {
        margin-top: 0;
        padding: 20px 0 40px 0;
    }
}

.page-membership, .page-template-membership-page {
    .uw-sidebar-menu{
        margin-top: 0;
    }
}


@media screen and (max-width: 767px) {
    #join-renew-buttons{
        margin-top: 0;
        padding: 20px 20px 0 0;
    }
}