// page-template-headers.less
// 
// 

.uw-hero-image{
    &.travel {
        background: url(assets/headers/Page_Header_Travel.jpg) center center;
        background-size: cover; 
    }

    &.membership {
        background: url(assets/headers/Page_Header_Membership.jpg) center center;
        background-size: cover; 
    }

    &.communities {
        background: url(assets/headers/Page_Header_Communities.jpg) center center;
        background-size: cover; 
    }

    &.careers {
        background: url(assets/headers/Page_Header_Careers.jpg) center center;
        background-size: cover; 
    }

    &.services {
        background: url(assets/headers/Page_Header_Services.jpg) center center;
        background-size: cover; 
    }
}

.single-post .uwaa-chapter-header{
    height: 438px;
}