// page-template-headers.less
// 
//

.uw-hero-image {
    &.travel {
        background: url(assets/headers/Page_Header_Travel.jpg) center center;
        background-size: cover;
    }

    &.membership {
        background: url(assets/headers/Page_Header_Membership.jpg) center center;
        background-size: cover;
    }

    &.communities {
        background: url(assets/headers/Page_Header_Communities.jpg) center center;
        background-size: cover;
    }

    &.international {
        background: url(assets/headers/Page-Header_InternationalComm.jpg) center center;
        background-size: cover;
    }

    &.careers {
        background: url(assets/headers/Page_Header_Careers.jpg) center center;
        background-size: cover;
    }

    &.services {
        background: url(assets/headers/Page_Header_Services.jpg) center center;
        background-size: cover;
    }

    &.about {
        background: url(assets/headers/Page_Header_About.jpg) center center;
        background-size: cover;
    }

    &.events {
        background: url(assets/headers/Page_Header_Events.jpg) center center;
        background-size: cover;
    }

    &.future-alumni {
        background: url(assets/headers/Page_Header_Future-Alumni.jpg) center center;
        background-size: cover;
    }

    &.common-ground {
        background: url(assets/headers/Page_Header_Common-Ground.jpg) center center;
        background-size: cover;
    }

    &.reunions {
        background: url(assets/headers/Page_Header_Reunion.jpg) center center;
        background-size: cover;
    }

    
}

.single-post .uwaa-chapter-header{

    @media only screen and (max-width : 767px) {
    
        height:150px;

        .chapter-logo svg {
            width: 54%;
        }
   
}
}