//Style for the thumbnails generated for tile-based sorting pages (Member Benefits, Events and Tours)

#isotope-canvas{
    position: relative;
}

.post-type-archive-events #isotope-canvas {
    margin-top: 70px;
}


.isotope{
}

.image-frame{
        position: relative;
        z-index: 0;

        box-shadow: -1px 1px 2px #c8c8c8, 1px -1px 2px #c8c8c8;
        
        span {
            position: absolute;
            right: 0;
            top:.94em;
            background-color: @purple;
            color:@white;
            font-weight: 900;
            font-family: "Encode Sans Compressed", sans-serif;
            border-radius: 0;
            font-size: .76em;
            letter-spacing: 1px; 
            padding: .235em;
            padding-right: .59em;            
            text-transform: uppercase;
            -webkit-box-shadow: -3px 9px 10px -4px rgba(0,0,0,0.45);
            -moz-box-shadow: -3px 9px 10px -4px rgba(0,0,0,0.45);
            box-shadow: -3px 9px 10px -4px rgba(0,0,0,0.45);
            z-index: 0;

            &.btn-gold 
    {
        background-color: @lightgold;
    }

    &:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;    
    -webkit-transform: skew(-20deg);
    background-color: inherit;
    height:2em;
    width: 50px;
    display: none;
    }

    &.btn-slant-left {
        &:before{
            left:-10px;
            display:block;
        }
        
    }

    &.btn-slant-right {
        &:before{
            display: block;
            right: -10px;
        }
        
    }

        }

    }
    .post-thumbnail-slide{
        width: 275px;
        min-height: 325px;
        margin-right:10px;
        margin-bottom: 10px;
        display: block; 

        //box-shadow: -1px 0px 2px @gray, 1px 0px 2px @gray;

        &:hover{
        opacity: .8;

        &.preliminary {
            &:hover {
                opacity: 1;
            }
        }
    }   


     &.partner-post > .copy > a.link-arrow {   // THIS IS AMAZING!!!!!!!
                    background: url(assets/uwaa-sprite.svg) -227px -510px no-repeat;
                    transform: none;
                }

   

    .copy {
        color: @darkgray;
        padding: 6px 10px 10px 10px;
        // box-shadow: -1px 2px 2px @gray, 1px 2px 2px @gray;
        box-shadow: -1px 1px 2px @gray, 1px 1px 2px @gray;  
        height: 255px;
        position: relative;
        

        

        img.link-arrow {
           
                
            
        }


        a {

            &.link-arrow {
                position: absolute;
                bottom: 5px;
                right: 15px;                               
                background: url(assets/uwaa-sprite.svg) no-repeat -228px -493px;
                content: "";            
                -o-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                opacity: .6;
                display: inline-block;
                vertical-align: bottom;
                margin-left: 5px;
                width: 14px;
                height: 21px;

                
            }


        }

       

    //Typography
        h4{

            &.title{
                line-height: 1.1;
                font-weight: 600;
                margin-bottom: .68em;
                color: @darkgray;
            }

            &.date{
                font-weight: 700;
                font-size: 1em;
                padding-bottom: 0.059em;
                color: @darkgray;
            }
            margin: 0;
        }
        h6.subtitle{
            text-transform: uppercase;
            color: @lightgold;
            padding:0;
            margin-top: 0;
            margin-bottom:6px;
            font-weight: 900;
            font-size: 0.83em;
        }

        p{
            font-size: .94em;
            line-height: 1.37;

            &.operator {
                color: @lightgold;
                font-size: 13px;
                font-weight:400;
                margin-top: -14.5px;

            }
        }
    }

    }   

    .uw-sidebar .post-thumbnail-slide {
        width: 302px;
        margin-right: 0;

        .copy {
            height: auto;
        }


        @media screen and (max-width: 1200px){
            width: 233px;

            .image-frame img{
                width: 100%;
            }

            .copy{
                &:after{
                    bottom: 3px;
                }
            }
        }

         @media screen and (max-width: 992px){
            width: 100%;

            .image-frame img{
                width: 100%;
            }
         }
    }

    //centering tiles
    .post-thumbnail-slide {
        @media screen and (max-width: 1200px) {
            margin-left: 23px;
        }

        @media screen and (max-width: 991px) {
            margin-left: calc(~"(100% - 550px)/4");
            margin-right: calc(~"(100% - 550px)/4");
         }


         @media screen and (max-width: 599px) {
            margin-left: calc(~"(100% - 275px)/2");
         }
    }

    .post-type-archive-benefits {
    .copy {
    height: 220px;
    }
}



//List View, not a slide

.list {
    .post-thumbnail-slide{
        width:100%;
        border-bottom: 1px solid @lightgold;
        height: auto;
        min-height:0;
    }

    .image-frame {
        img {
        display:none;
        visibility: hidden;
        }
        span {
            box-shadow: none;
        }
    }

    .copy {
        box-shadow: none;
        height: auto;

        &:after{
            display: none;
        }
    }
}

.filter-row{
    margin-bottom:20px;
    display:table;
    border-top: solid 1px @lightgold;
    border-bottom: solid 1px @lightgold;
    width: 100%;
    
    h2.filter-head {
        display: table-cell;        
        font-family: "Encode Sans Compressed", sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.5em;

        @media only screen and (max-width: 480px) {
            font-size: 1.2em;
        }



    }
    
    
}

#filters {
    display: table-cell;      
    
    vertical-align: middle;


    
    ul {
    padding-left: 10px;
    padding-right: 0;
    margin: 0;
    list-style: none;
    display: table-cell;    
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: @janegray;
    font-size: 1.1em;

    li{
        display:inline-block;
        padding-left: 22px;
        cursor: pointer;
        margin-bottom: 5px;
    }

    li.is-checked {
        color: @lightgold;
        font-weight: 800;
    }
    
}


}


#isotope-search {
        position: absolute;
        right: 0;
        top: -70px;
        overflow:   hidden;
        


        form{
        float: left;
        width: 200px;
        

            input {
                height: 44px;
                font-size: 17px;
                padding-left: 15px;
                font-family: "Encode Sans", sans-serif;
                font-weight: 700;
            }
        }

        input.search {
            height:42px;
            top: 1px;
        }
    }

