// print.less

@media print {

    .uw-homepage-slider-container,
    .filter-row,
    #isotope-search,
    .grid-list-print-icons,
    .image-frame,
    .image-frame img,
    .image-frame span,
    .tours-footer-logo   
     {
        display: none !important;
        visibility: hidden !important;
    }

    .post-thumbnail-slide{                
        display: block !important;
        left:0;        
        height: auto !important;
        min-height: 0;
        margin: 5px 0;
        padding: 0;

        >.slide-link {
            display: none !important;
            visibility: hidden !important;
        }

        &.no-print {
            display: none !important;
            visibility: hidden !important;
        }

        
        .copy{
            

            a{


            &.copy-link {
                display: block !important;
                visibility: visible !important;
            }

            

            &.link-arrow{
                display: none !important;
                visibility: hidden !important;
            }            
           
        }
                
            }
        }
}
