// print.less

@media print {

    .uw-homepage-slider-container,
    .filter-row,
    #isotope-search,
    .grid-list-print-icons,
    .image-frame,
    .image-frame img,
    .tours-footer-logo,
     {
        display: none !important;
        visibility: hidden !important;
    }

    .post-thumbnail-slide{                
        display: block !important;
        height: auto !important;
        min-height: 0;
        margin-left: 0;
    }

    }