//style.less

@import  "../bower_components/bootstrap/less/bootstrap.less";
@import (reference) "../../uw-2014/less/flat/variables.less";
@import (reference) "../../uw-2014/less/uw.variables.less";
@import (reference) "../../uw-2014/less/flat/mixins.less";


// Color swatches
@purple:        #4b2e83;
@lightgray:     #dddddd;
@gray:          #d9d9d9;
@darkgray:      #5A5A5A;
@link:          #0088DD;
@brightgold:    #ffd800;
@ulralightgold: #e8e3d3;
@lightgold:     #b7a57a;
@darkgold:      #85754d;
@white:         #FFFFFF;
@janegray:      #3d3d3d;
@formgray:      #aaaaaa;
@red:           #e86b27;


@import "post-feature-thumbnails.less";
@import "typography.less";
@import "buttons.less";
@import "gallery.less";
@import 'featured-post.less';
@import 'communities-header.less';
@import 'chapter-header.less';
@import 'benefit-header.less';
@import 'uwaa-mapbox.less';
@import 'regional-facts.less';
@import 'slideshow.less';
@import 'homepage.less';
@import 'uwaa-footer.less';
@import 'page-template-headers.less';
@import 'grid-list-sprite-isotope-icons.less';
@import 'print.less';
@import 'accordions.less';
@import 'wufoo.less';
@import 'social.less';
@import 'sidebar.less';
@import 'membership.less';
@import 'membership-store.less';
@import 'forms.less';
@import 'pagination-controls.less';
@import 'vets2015.less';

@import 'convio.less';
@import 'convio-membership.less';

@import 'dawgdash-map-ui.less';

@import 'tours.less';
@import 'emailSubscriptionForm.less';

@import 'star-awards.less';

@import 'virtual-warmup.less';

@import 'holiday2020.less';

.page-strongertogether
{
  p {
    margin: 0 0 80px;
  }
}

.wistia_responsive_padding {
    margin-bottom: 10px;
}

#map {
     position:relative;
     top:0;
     bottom:0;
     width:100%;
     //  height: 100%;
     height: 400px;

}

#map-container {
    position: relative;
    width: 100%;
    height: 400px;

    @media only screen and (max-width: 320px) {
    // width: 90%;
    // margin: 0 5% 0;
    }

}

.page-travel {
  .mapboxgl-popup {
    max-width: 200px;
  }
}

.page-communities, .page-international-huskies, .page-u-s-huskies {
  .mapboxgl-popup {
    min-width: 320px;
  }
  .mapboxgl-popup-tip {
    border: none;
  }
  .mapboxgl-popup a.map-link:after {
    bottom: 5px;
  }
  .mapboxgl-popup-content {
    padding-top: 5px;
  }
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-close-button {
  font-size: 20px;
}

.uwaa-hero-image {
	// width: 1600px;
	height:428px;
	background-size: cover;
  background-position: center center;
  
  .page-raceequityjustice & {
    height: 350px;
  }
}

.leaflet-popup-content {
    font-family: 'Open Sans';
}


.lower-row {
  margin-top: 20px;
}




.wp-caption {

    &.alignleft{
        margin: 5px 14px 8px 0px;
    }

    &.alignright{
        margin: 5px 0 8px 14px;
    }

    img.headshot, img.inline {
    // margin: 0;    
}


    }

.alignleft.headshot, .alignleft.inline {
    margin: 5px 24px 8px 0px;
    float: left !important;
}



.alignright.headshot, .alignright.inline {
     margin: 5px 0 8px 24px;
     float: right !important;

     @media only screen and (max-width: 320px) {
    // margin-left: 0;
      }

}






hr {
    border-top: 1px solid #CCCCCC;
}

.page-home, .page-membership{

     .uw-body.container {
    margin-bottom: 45px;

     @media only screen and (max-width : 480px) {
    margin-bottom: 15px;
     }
    }
}

.page-membership .row {

    &.5-column{
    margin-top: 20px;
}
}




.widget {
    padding: 25px 0 0 40px;


}


ul.uw-sidebar-menu li.pagenav ul li.current_page_item ul.children li.current_page_item ul.children a:before, ul.uw-mobile-menu li.pagenav ul li.current_page_item ul.children li.current_page_item ul.children a:before, ul.uw-sidebar-menu>div ul li.current_page_item ul.children li.current_page_item ul.children a:before, ul.uw-mobile-menu>div ul li.current_page_item ul.children li.current_page_item ul.children a:before, ul.uw-sidebar-menu li.pagenav ul li.current_page_ancestor ul.children li.current_page_item ul.children a:before, ul.uw-mobile-menu li.pagenav ul li.current_page_ancestor ul.children li.current_page_item ul.children a:before, ul.uw-sidebar-menu>div ul li.current_page_ancestor ul.children li.current_page_item ul.children a:before, ul.uw-mobile-menu>div ul li.current_page_ancestor ul.children li.current_page_item ul.children a:before {
content: "\2022  ";
}


.mobile-menu-row {
    .make-row();
    padding:0;
    margin:0;
}

 @media screen and (max-width:992px){
        
        .widget{
            padding-left: 0;    
        }

        .pagination-buttons
        {
            margin-left: 0;
            &:before{
                right: 42px;
            }
        }
        
}

#uw-container #quicklinks ul#big-links li span.icon-columns {
              display: block;
              float: left;
              width:30px;
              height:30px;
              background: url(assets/uwaa-sprite.svg) no-repeat 0 0;
              background-position: -311px -303px;
}


.page-board-of-trustees .wp-caption, .page-board-of-trustees-6 .wp-caption {
    min-height: 305px;
    width: 160px !important;
    float: left;
}

.logo {
  width:  auto !important;
}

@media screen and (max-width:769px){
.responsive-center {
  display: block;
  width: auto !important;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
}

.uw-thinstrip .uw-thin-links li:nth-child(4) a {
  color: @lightgold;
}

.mice {
  font-size: .7em;
  margin-top: 0;
  font-style: italic;
}

.red {
  color: @red;
  font-weight: bold;
}

// Accessibility Updates


.visually-hidden {
position: absolute !important;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
padding:0 !important;
border:0 !important;
height: 1px !important;
width: 1px !important;
overflow: hidden;
}

#flag {
  position: fixed;
  top: 0;
  left: 0;  
}

.no-images {

  // .visually-hidden {
  //   height: auto;
  //   width: auto;
  //   overflow: visible;
  //   clip: auto;    
  // }
}

ul#menu-uwaa-navigation {
    margin: 0 0 0 150px;    
}



.uwaa-home-logo {
    position: relative;
    display: block;
    float: left;
        height: 80px;
        width: 110px;
        background: url(assets/logos/uwaa-logo-purple.svg) no-repeat 0 0;
        background-size: 105px;
        left: -7px;
        margin-right: 15px;

        @media only screen and (max-width : 991px) {
            top: 25%;
            left: 0px;
            background-size: 88px;
     }

     &:hover{
         opacity: .65;
     }
       
    
}

#spacer:before {
     
        
        position:absolute;
        height: 150px;
        width: 150px;
        background: url(assets/logos/uwaa-logo-purple.svg) no-repeat 0 0;
        background-size: 105px;
        left: 6px;         
     

     }

/*DawgDash*/

div.slideshow-24143, div.slideshow-25114 {
  height: 520px;

  .uw-slideshow-controls {    
    bottom: 100%;
    top: 0;

    &.next {
      left: 100%;
      margin-left: -45px;

    }

    &.previous {
      left: 100%;
      margin-left: -90px;
    }


  }
}

.no-row-margin {
    margin-left: 0;
    margin-right: 0;
}

.page-common-ground h3 {
                   margin-bottom: 0;
               }

.no-frame-margin iframe {
                     margin: 0;
                     min-height: 300px;
                 }



#mobile-sidebar-links {
  margin: 0;
}

.uwaa-hidden-xs-up {
  .hidden-xs();
  // .hidden-sm();
}

.wufoo-vp-code {
    width: 100%;

    iframe {
        width: 100%;        
    }
}

#uwalert-alert-message {
    top: 0;
}

.issuuembed.issuu-isrendered {
    margin-bottom: 70px;
    margin-top: -30px;
}



@media only screen and (max-width: 767px)
{

.uw-body .uw-site-title {
	margin: 0px -20px 0px -20px;

}

}


	nav#mobile-relative.frontpage{

		margin-top: 0;
		margin-left: 12px;
		margin-right: 18px;

		button.uw-mobile-menu-toggle {
		right: 0;
		}

} 
