//style.less

@import (reference) "../bower_components/bootstrap/less/bootstrap.less";
@import (reference) "../../uw-2014/less/flat/variables.less";
@import (reference) "../../uw-2014/less/uw.variables.less";
@import (reference) "../../uw-2014/less/flat/mixins.less";


// Color swatches
@purple:        #4b2e83;
@lightgray:     #dddddd;
@gray:          #d9d9d9;
@darkgray:      #5A5A5A;
@link:          #0088DD;
@brightgold:    #ffd800;
@ulralightgold: #e8e3d3;
@lightgold:     #b7a57a;
@darkgold:      #85754d;
@white:         #FFFFFF;
@janegray:      #3d3d3d;
@formgray:      #aaaaaa;
@red:           #e86b27;


@import "post-feature-thumbnails.less";
@import "typography.less";
@import "buttons.less";
@import "gallery.less";
@import 'featured-post.less';
@import 'communities-header.less';
@import 'chapter-header.less';
@import 'benefit-header.less';
@import 'uwaa-mapbox.less';
@import 'regional-facts.less';
@import 'slideshow.less';
@import 'homepage.less';
@import 'uwaa-footer.less';
@import 'page-template-headers.less';
@import 'grid-list-sprite-isotope-icons.less';
@import 'print.less';
@import 'accordions.less';
@import 'wufoo.less';
@import 'social.less';
@import 'sidebar.less';
@import 'membership.less';
@import 'membership-store.less';
@import 'forms.less';
@import 'pagination-controls.less';
@import 'vets2015.less';

@import 'convio.less';
@import 'convio-membership.less';

@import 'dawgdash-map-ui.less';


#map {
     position:absolute;
     top:0;
     bottom:0;
     width:100%;
     height: 100%;

}

#map-container {
    position: relative;
    width: 100%;
    height: 400px;

    @media only screen and (max-width: 320px) {
    // width: 90%;
    // margin: 0 5% 0;
    }
    
}

.uwaa-hero-image {
	// width: 1600px;
	height:428px;
	background-size: cover;
	background-position: 50% 100%;
}

.leaflet-popup-content {
    font-family: 'Open Sans';
}





.wp-caption {

    &.alignleft{
        margin: 5px 14px 8px 0px;
    }

    &.alignright{
        margin: 5px 0 8px 14px;
    }

    img.headshot, img.inline {
    // margin: 0;    
}


    }

.alignleft.headshot, .alignleft.inline {
    margin: 5px 24px 8px 0px;
    float: left !important;
}



.alignright.headshot, .alignright.inline {
     margin: 5px 0 8px 24px;
     float: right !important;

     @media only screen and (max-width: 320px) {
    // margin-left: 0;
      }

}






hr {
    border-top: 1px solid #CCCCCC;
}

.page-home, .page-membership{

     .uw-body.container {
    margin-bottom: 45px;

     @media only screen and (max-width : 480px) {
    margin-bottom: 15px;
     }
    }
}

.page-membership .row {

    &.5-column{
    margin-top: 20px;
}
}



.widget {
    padding: 25px 0 0 40px;


}


ul.uw-sidebar-menu li.pagenav ul li.current_page_item ul.children li.current_page_item ul.children a:before, ul.uw-mobile-menu li.pagenav ul li.current_page_item ul.children li.current_page_item ul.children a:before, ul.uw-sidebar-menu>div ul li.current_page_item ul.children li.current_page_item ul.children a:before, ul.uw-mobile-menu>div ul li.current_page_item ul.children li.current_page_item ul.children a:before, ul.uw-sidebar-menu li.pagenav ul li.current_page_ancestor ul.children li.current_page_item ul.children a:before, ul.uw-mobile-menu li.pagenav ul li.current_page_ancestor ul.children li.current_page_item ul.children a:before, ul.uw-sidebar-menu>div ul li.current_page_ancestor ul.children li.current_page_item ul.children a:before, ul.uw-mobile-menu>div ul li.current_page_ancestor ul.children li.current_page_item ul.children a:before {
content: "\2022  ";
}


.mobile-menu-row {
    .make-row();
    padding:0;
    margin:0;
}

 @media screen and (max-width:992px){
        
        .widget{
            padding-left: 0;    
        }

        .pagination-buttons
        {
            margin-left: 0;
            &:before{
                right: 42px;
            }
        }
        
}

#uw-container #quicklinks ul#big-links li span.icon-columns {
              display: block;
              float: left;
              width:30px;
              height:30px;
              background: url(assets/uwaa-sprite.svg) no-repeat 0 0;
              background-position: -311px -303px;
}


.page-board-of-trustees .wp-caption {
  min-height: 305px;
  width: 160px !important;
  float: left;
}

.logo {
  width:  auto !important;
}

.uw-thinstrip .uw-thin-links li:nth-child(4) a {
  color: @lightgold;
}

.mice {
  font-size: .7em;
  margin-top: 0;
  font-style: italic;
}

.red {
  color: @red;
  font-weight: bold;
}

// Accessibility Updates


.visually-hidden {
position: absolute !important;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
padding:0 !important;
border:0 !important;
height: 1px !important;
width: 1px !important;
overflow: hidden;
}

#flag {
  position: fixed;
  top: 0;
  left: 0;  
}

.no-images {

  // .visually-hidden {
  //   height: auto;
  //   width: auto;
  //   overflow: visible;
  //   clip: auto;    
  // }
}

ul#menu-uwaa-navigation {
    margin: 0 0 0 150px;    
}



.dawgdrops-inner{
    position: relative;


    &:before {
        position:absolute;
        height: 150px;
        width: 150px;
        background: url(assets/logos/uwaa-logo-purple.svg) no-repeat 0 0;
        background-size: 105px;
        left: 6px;

        @media only screen and (max-width : 991px) {
            top: 25%;
            left: 13px;
            background-size: 88px;
     }
       
    }
}

#spacer:before {
     
        
        position:absolute;
        height: 150px;
        width: 150px;
        background: url(assets/logos/uwaa-logo-purple.svg) no-repeat 0 0;
        background-size: 105px;
        left: 6px;         
     

     }

/*DawgDash*/

div.slideshow-24143 {
  height: 520px;

  .uw-slideshow-controls {    
    bottom: 100%;
    top: 25%;

    &.next {
      right: 0;
    }

    &.previous {
      left: 0;
    }


  }
}

