// Typography:  Rules Included
// Font-Family, Line-Height, Padding, Color, Font-Weight
// 
// 

h3{
font-size: 1.5em;   
}

h2.date {
    color: @darkgray;
    font-weight: 700;
    padding-top: .588em;
    padding-bottom: .353em;
}

h6.intro-head{
    text-transform: uppercase;
    font-weight: 800;
    color:@lightgold;
}

.single-tours .uw-body-copy{
    
    .date {
    padding:0;
    margin:0;
    }

    .operator, .date{
        margin:0;
    }

    .price {
        margin-bottom: 36px;
    }    

    strong {
        // color: @lightgold;
    }
}

.uw-body-copy {
    h5, h4, h3 {
        margin-bottom: 3px;
        margin-top: 14px; 
    }
}

.single-events .uw-body-copy{

    h2.date {
        margin:0;

    }

    p.location{
        margin-bottom: 36px;
    }

}


//For Sidebar Pull quotes: 

.uwaa-pull-quote {
    margin-bottom: 40px;
    // margin-right: 10px;
}

.quote-text {
    text-transform: uppercase;    
    letter-spacing: -1px;
    font-weight: 400;
    color: @janegray;
    position: relative;
    text-indent: 2.2em;

    &:before {
        content: "“";
        font-weight: 900;
        font-size: 4em;
        color: @lightgold;
        position: absolute;
        top: .42em;
        left: -.54em;
        line-height: 0;

    }

}

.quote-author {
    font-weight: 600;
    float: right;
    text-align: right;
    color: @lightgold;
    font-size: .95em;
    line-height: 1.1;
    padding-top: 0.471em;

}



.wp-caption-text {
font-size: 13px;
line-height: 1.3;
margin-top: -5px;
font-weight: 600;
margin-bottom: 0;
}


// For Read-More links
// e.g. links from one post to another
// 

a.read-more-link {

    &:hover, &:active {
        border-bottom: 0;
    }
    &:after {
            background: url(assets/uwaa-sprite.svg) no-repeat -206px -493px;
            content: "";
            opacity: .6;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;            
            width: 14px;
            height: 21px;            
            -o-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
}


//UWAA Better Bullets
//

.uw-body-copy li{
    margin-bottom: 15px;
}
