// Typography:  Rules Included
// Font-Family, Line-Height, Padding, Color, Font-Weight

h2.date {
    color: @darkgray;
    font-weight: 700;
    padding-top: .588em;
    padding-bottom: .353em;
}

h6.intro-head{
    text-transform: uppercase;
    font-weight: 800;
    color:@lightgold;
}