

div.map-logo{
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    background-position: 50% 50%;
    margin-bottom: 10px;

    #Huskies path{
        fill:@purple;
    }


    &.new-york-city{
        background-image: url(assets/logos/chapters/NY-Huskies-386x87.png);
    }
}


.leaflet-popup-content{
    max-width: 250px;
}