// uwaa-footer.less


#uwaa-footer {
	.make-row();
	background:#777777;	
	border-top: 7px solid #d1d1d1;	
	color: @white;
	padding:0;

	.social-icons{
		padding-top:1em;
		.make-sm-column(3);

		li {
			position: relative;
			z-index: 0;

			&:before {
				content: "";
				position: absolute;
				z-index: -1;
				background-color: #ffffff;
				left: 1px;
				bottom: -3px;
				height: 25px;
				width: 24px;


			}
		}


	}

	.contact-links{
		height: 4.706em;
		.make-sm-column(6);
		padding-top: 1.3em;		
		letter-spacing: 1px;

	@media screen and (max-width:1200px) {
		line-height: 1.5;
		padding-top: 1.1em;
	}

	@media screen and (max-width:1400px) {
		line-height: 1.5;
		}

		div {
			display: inline-block;
		}

		a {
			padding-left: 7px;
			text-transform: none;
			color: @white;
			font-size: .95em;
			transition: 0.25s;

			&:hover, &:active {
				color: @lightgold;
			}
		}


		span, ul {

			display: inline;			
			margin-right: 7px;

			a {
				text-transform: uppercase;
			}
		}
	}

	.uwaa-logo{
		height: 4.706em;		
		padding:10px;
		.make-sm-column(3);

        svg {

            width: 55%;
            height: 100%;

            g path {
                fill: @white;
            }
            
        }
        
    
	}

}


///Tours Footer

.tours-footer-logo {
	
    padding-bottom: 20px;
    padding-left: 40px;

}