// uwaa-footer.less


#uwaa-footer {
	.make-row();
	background:#777777;
	height: 4.706em;
	border-top: 5px solid #d2d2d2;
	color: @white;

	.social-icons{
		.make-sm-column(3);


	}

	.contact-links{
		.make-sm-column(6);
		padding-top: 1.3em;		

		span, ul {
			display: inline;			
		}
	}

	.uwaa-logo{
		.make-sm-column(3);
	}

}