

div.map-logo{    
    background-repeat: no-repeat;
    height: 33px;
    width: 100%;
    
    // margin-bottom: 10px;
    background-image: url(assets/Comm_Map_Sprite.png);
    background-position: 0 0;
    margin-bottom: 10px;    
    

    #Huskies path{
        fill:@purple;
    }

    

    .sprite-position(@vertical-delimiter, @initial-value) {
      @vertical-position: (@initial-value - @vertical-delimiter);
      background-position: 50% @vertical-position;
    }

    @vertical-delimiter: 1px;   



        &.anchorage {
           .sprite-position(@vertical-delimiter, -3px);
        }
        &.tucson, &.phoenix, &.arizona {
           .sprite-position(@vertical-delimiter, (.75*-47px));
        }
        &.bellingham {
           .sprite-position(@vertical-delimiter, (.75*-91px));
        }
        &.brazil {
           .sprite-position(@vertical-delimiter, (.75*-135px));
        }
        &.san-diego, &.sacramento, &.orange-county, &.palm-springs, &.southern-california, &.northern-california, &.palm-desert {
           .sprite-position(@vertical-delimiter, (.75*-179px));
        }
        &.china, &.shanghai, &.beijing {
           .sprite-position(@vertical-delimiter, (.75*-223px));
        }
        &.denver {
           .sprite-position(@vertical-delimiter, (.75*-267px));
        }
        &.washington-dc {
           .sprite-position(@vertical-delimiter, (.75*-311px));
        }
        &.ft-lauderdale, &.miami, &.florida {
           .sprite-position(@vertical-delimiter, (.75*-355px));
        }
        &.georgia, &.atlanta {
           .sprite-position(@vertical-delimiter, (.75*-399px));
        }
        &.kailua-kona, &.hawaii, &.honolulu {
           .sprite-position(@vertical-delimiter, (.75*-443px));
        }
        &.hong-kong {
           .sprite-position(@vertical-delimiter, (.75*-487px));
        }
        &.boise, &.sun-valley, &.idaho {
           .sprite-position(@vertical-delimiter, (.75*-531px));
        }
        &.chicago, &.illinois {
           .sprite-position(@vertical-delimiter, (.75*-575px));
        }
        &.india {
           .sprite-position(@vertical-delimiter, (.75*-619px));
        }
        &.indonesia, &.jakarta {
           .sprite-position(@vertical-delimiter, (.75*-663px));
        }
        &.indiana, &.indianapolis {
           .sprite-position(@vertical-delimiter, (.75*-707px));
        }
        &.japan, &.tokyo {
           .sprite-position(@vertical-delimiter, (.75*-751px));
        }
        &.korea, &.seoul {
           .sprite-position(@vertical-delimiter, (.75*-795px));
        }
        &.massachusetts, &.boston {
           .sprite-position(@vertical-delimiter, (.75*-839px));
        }
        &.st-louis, &.missouri {
           .sprite-position(@vertical-delimiter, (.75*-883px));
        }
        &.north-carolina {
           .sprite-position(@vertical-delimiter, (.75*-927px));
        }
        &.omaha, &.nebraska {
           .sprite-position(@vertical-delimiter, (.75*-971px));
        }
        &.las-vegas, &.reno, &.nevada {
           .sprite-position(@vertical-delimiter, (.75*-1015px));
        }
        &.new-york, &.new-york-city, &.albany {
           .sprite-position(@vertical-delimiter, (.75*-1059px));
        }
        &.oregon, &.portland, &.bend {
           .sprite-position(@vertical-delimiter, (.75*-1103px));
        }
        &.pennslyvania, &.pittsburgh, &.philadelphia {
           .sprite-position(@vertical-delimiter, (.75*-1147px));
        }
        &.peru {
           .sprite-position(@vertical-delimiter, (.75*-1191px));
        }
        &.south-carolina {
           .sprite-position(@vertical-delimiter, (.75*-1235px));
        }
        &.singapore {
           .sprite-position(@vertical-delimiter, (.75*-1279px));
        }
        &.spain {
           .sprite-position(@vertical-delimiter, (.75*-1323px));
        }
        &.spokane {
           .sprite-position(@vertical-delimiter, (.75*-1367px));
        }
        &.taiwan, &.taipei {
           .sprite-position(@vertical-delimiter, (.75*-1411px));
        }
        &.thailand, &.bangkok {
           .sprite-position(@vertical-delimiter, (.75*-1455px));
        }
        &.tri-cities, &.tricities {
           .sprite-position(@vertical-delimiter, (.75*-1499px));
        }
        &.austin, &.san-antonio, &.san-antonio-south-texas, &.texas, &.dallas, &.dallas-ft-worth, &.houston {
           .sprite-position(@vertical-delimiter, (.75*-1543px));
        }
        &.uae {
           .sprite-position(@vertical-delimiter, (.75*-1587px));
        }
        &.london, &.uk {
           .sprite-position(@vertical-delimiter, (.75*-1631px));
        }
        &.vancouver {
           .sprite-position(@vertical-delimiter, (.75*-1675px));
        }
        &.wenatchee {
           .sprite-position(@vertical-delimiter, (.75*-1719px));
        }
        &.switzerland, &.zurich {
          .sprite-position(@vertical-delimiter, (.75*-1763px));
        }
        &.netherlands {
          .sprite-position(@vertical-delimiter, (.75*-1799px));          
        }
        &.vietnam {
          .sprite-position(@vertical-delimiter, (.75*-1843px));          
        }
        &.nashville {
          .sprite-position(@vertical-delimiter, (.75*-2065px));          
        }
        &.new-orleans {
          .sprite-position(@vertical-delimiter, (.75*-1978px));          
        }
        &.minneapolis {
          .sprite-position(@vertical-delimiter, (.75*-2022px));          
        }
        &.michigan {
          .sprite-position(@vertical-delimiter, (.75*-2110px));          
        }
}

  


.leaflet-popup .leaflet-popup-content{
    // position: relative;
    padding: 10px 5px;
    // min-width: 330px;

    
    p {

    &.map-title {
        font-family: "Encode Sans Compressed" , sans-serif;
        font-weight: 600;
        font-size: 18px;
        margin: 0 0 7px;

    }

    &.map-date {
         font-family: "Encode Sans Compressed" , sans-serif;
         font-weight: 700;
         margin: 0 0 2px;
    }

    &.map-excerpt {
        margin: 0 0 0;
        padding-right: 12px;
        text-align: center;

    }

    }

    a{
        color: @janegray;
        text-decoration: none;

        &:hover, &:active {
            text-decoration: none;
            color: @janegray;
            border-bottom: none;
        }
    }

    a.map-link {
         &:after {
            position: absolute;
            right: 4px;
            bottom: 19px;
            background: url(assets/uwaa-sprite.svg) no-repeat -228px -493px;
            content: "";
            opacity: .4;
            display: block;                                 
            width: 14px;
            height: 21px;            
            -o-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);

            &:hover, &:focus {
                border-bottom: none;
            }
        }
    }

}


///////////////
//Menu for Jump Buttons
//


.menu-ui {  
  position:absolute;
  bottom:20px;
  right:10px;
  z-index:1;
  display: none; 




    .uwaa-btn-wrapper {
        margin-right:0;

        &:first-child {
            margin-right: 30px;
        }

        


        span {
            font-weight: 900;
            font-size: 17px;
            font-family: "Encode Sans Compressed", sans-serif;
            letter-spacing: 1px; 
            border-radius: 0;
            height:1.95em;
            line-height: 1.3;
            text-transform: uppercase;
            padding: .412em;    
            padding-top: .32em;
            color:@white;
            cursor: pointer;

            &:before {
            width: 40px;
            height: 1.95em;
            }

            &:hover {
                color: @darkgold;

            }


        }

         .btn-gold {
        &:hover {
            color: @purple;
        }
    }

    }   
  
  }


//
//Spinner for loading
//
//

#loader {
    position:relative;     
    width:100%;
    height: 100%;
    background:rgba(255, 255, 255, 0.5);
    z-index: 1;


    .spinner {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        background: url(assets/icons/map-loader.gif) no-repeat 0 0 transparent;
        width: 32px;
        height: 32px;
    }
    

    &.done {
    background:rgba(255, 255, 255, 0);
    }

    &.hide {
        display:none;
    }


}