

div.map-logo{    
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    
    // margin-bottom: 10px;
    background-image: url(assets/Communities_Map_Sprite.png);
    background-position: 0 0;
    margin-bottom: 10px;    
    

    #Huskies path{
        fill:@purple;
    }

        &.anchorage {
           background-position: 50% -3px;
        }
        &.tucson, &.phoenix, &.arizona {
           background-position: 50% -47px;
        }
        &.bellingham {
           background-position: 50% -91px;
        }
        &.brazil {
           background-position: 50% -135px;
        }
        &.san-diego, &.sacramento, &.orange-county, &.palm-springs, &.southern-california, &.northern-california {
           background-position: 50% -179px;
        }
        &.china {
           background-position: 50% -223px;
        }
        &.denver {
           background-position: 50% -267px;
        }
        &.washington-dc {
           background-position: 50% -311px;
        }
        &.ft-lauderdale, &.miami, &.florida {
           background-position: 50% -355px;
        }
        &.georgia, &.atlanta {
           background-position: 50% -399px;
        }
        &.kailua-kona, &.hawaii, &.honolulu {
           background-position: 50% -443px;
        }
        &.hong-kong {
           background-position: 50% -487px;
        }
        &.boise, &.idaho {
           background-position: 50% -531px;
        }
        &.chicago, &.illinois {
           background-position: 50% -575px;
        }
        &.india {
           background-position: 50% -619px;
        }
        &.indonesia, &.jakarta {
           background-position: 50% -663px;
        }
        &.indiana, &.indianapolis {
           background-position: 50% -707px;
        }
        &.japan, &.tokyo {
           background-position: 50% -751px;
        }
        &.korea, &.seoul {
           background-position: 50% -795px;
        }
        &.massachusetts, &.boston {
           background-position: 50% -839px;
        }
        &.st-louis, &.missouri {
           background-position: 50% -883px;
        }
        &.north-carolina {
           background-position: 50% -927px;
        }
        &.omaha, &.nebraska {
           background-position: 50% -971px;
        }
        &.las-vegas, &.reno, &.nevada {
           background-position: 50% -1015px;
        }
        &.new-york, &.new-york-city {
           background-position: 50% -1059px;
        }
        &.oregon, &.portland {
           background-position: 50% -1103px;
        }
        &.pennslyvania, &.pittsburgh, &.philadelphia {
           background-position: 50% -1147px;
        }
        &.peru {
           background-position: 50% -1191px;
        }
        &.south-carolina {
           background-position: 50% -1235px;
        }
        &.singapore {
           background-position: 50% -1279px;
        }
        &.spain {
           background-position: 50% -1323px;
        }
        &.spokane {
           background-position: 50% -1367px;
        }
        &.taiwan, &.taipei {
           background-position: 50% -1411px;
        }
        &.thailand, &.bangkok {
           background-position: 50% -1455px;
        }
        &.tri-cities, &.tricities {
           background-position: 50% -1499px;
        }
        &.austin, &.san-antonio, &.san-antonio-south-texas, &.texas, &.dallas, &.dallas-ft-worth, &.houston {
           background-position: 50% -1543px;
        }
        &.uae {
           background-position: 50% -1587px;
        }
        &.london, &.uk {
           background-position: 50% -1631px;
        }
        &.vancouver {
           background-position: 50% -1675px;
        }
        &.wenatchee {
           background-position: 50% -1719px;
        }


            // &.albany{
            //     background-position: 50% -642px;                
            // }
            // &.anchorage{
            //     background-position: 50% 0;                
            // }
            // &.atlanta{
            //     background-position: 50% -240px;
            // }
            // &.austin{
            //     background-position: 50% -802px;                
            // }
            // &.northern-california{
            //     background-position: 50% -80px; 
            // }
            // &.bellingham{
            //     background-position: 50% -842px;                
            // }
            // &.boise{
            //     background-position: 50% -321px;                
            // }
            // &.boston{
            //     background-position: 50% -442px;
            // }
            // &.chicago{
            //     background-position: 50% -361px;                
            // }
            // &.china{
            //     background-position: 50% -1002px;                
            // }
            // &.dallas-ft-worth{
            //     background-position: 50% -802px;                
            // }
            // &.denver{
            //     background-position: 50% -120px;                
            // }
            // &.ft-lauderdale{
            //     background-position: 50% -200px;
            // }
            // &.hong-kong{
            //     background-position: 50% -1042px;
            // }
            // &.honolulu{
            //     background-position: 50% -281px;
            // }
            // &.houston{
            //     background-position: 50% -802px;
            // }
            // &.indianapolis{
            //     background-position: 50% -401px;   
            // }
            // &.indonesia{
            //     background-position: 36% -1083px;                
            // }
            // &.japan{
            //     background-position: 50% -1123px;
            // }
            // &.kailua-kona{
            //     background-position: 50% -281px; 
            // }
            // &.korea{
            //     background-position: 50% -1164px;                
            // }
            // &.las-vegas{
            //     background-position: 50% -602px;
            // }
            // &.southern-california{
            //    background-position: 50% -80px; 
            // }
            // &.new-york-city{
            //    background-position: 50% -642px;
            // }
            // &.north-carolina{
            //     background-position: 50% -522px;
            // }
            // &.omaha{
            //     background-position: 50% -562px;
            // }
            // &.orange-county{
            //     background-position: 50% -80px;                
            // }
            // &.palm-springs{
            //     background-position: 50% -80px;                
            // }
            // &.philadelphia{
            //     background-position: 42% -722px;
            // }
            // &.phoenix{
            //     background-position: 50% -42px;                
            // }
            // &.portland{
            //     background-position: 50% -682px;                
            // }
            // &.reno{
            //     background-position: 50% -602px;
            // }
            // &.sacramento{
            //     background-position: 50% -80px;                
            // }
            // &.san-antonio-south-texas{
            //     background-position: 42% -802px;
            // }
            // &.san-diego{
            //     background-position: 50% -80px;                
            // }
            // &.singapore{
            //     background-position: 36% -1204px;                
            // }
            // &.south-carolina{
            //     background-position: 42% -762px;
            // }
            // &.spokane{
            //     background-position: 50% -882px;                
            // }
            // &.st-louis{
            //     background-position: 42% -482px;
            // }
            // &.sun-valley{
            //     background-position: 50% -321px;
            // }
            // &.taiwan{
            //     background-position: 36% -1243px;                
            // }
            // &.thailand{
            //     background-position: 36% -1284px;
            // }
            // &.tricities{
            //     background-position: 42% -922px;
            // }
            // &.tucson{
            //     background-position: 50% -42px;                
            // }
            // &.washington-dc{
            //     background-position: 50% -160px;                
            // }
            // &.wenatchee{
            //     background-position: 41% -964px;
            // }
            // &.brazil{
            //     background-position: 50% -1323px;
            // }
            // &.india {
            //     background-position: 50% -1365px;
            // }
            // &.peru{
            //     background-position: 50% -1403px;
            // }
            // &.spain{
            //     background-position: 50% -1445px;
            // }
            // &.uk{
            //     background-position: 50% -1523px;
            // }
            // &.uae{
            //     background-position: 50% -1484px
            // }
            // &.vancouver{
            //     background-position: 50% -1500px
            // }

}

  


.leaflet-popup .leaflet-popup-content{
    // position: relative;
    padding: 10px 4px 10px 10px; 

    
    p {

    &.map-title {
        font-family: "Encode Sans Compressed" , sans-serif;
        font-weight: 600;
        font-size: 18px;
        margin: 0 0 7px;

    }

    &.map-date {
         font-family: "Encode Sans Compressed" , sans-serif;
         font-weight: 700;
         margin: 0 0 2px;
    }

    &.map-excerpt {
        margin: 0 0 0;
        padding-right: 12px;
        text-align: center;

    }

    }

    a{
        color: @janegray;
        text-decoration: none;

        &:hover, &:active {
            text-decoration: none;
            color: @janegray;
            border-bottom: none;
        }
    }

    a.map-link {
         &:after {
            position: absolute;
            right: 4px;
            bottom: 19px;
            background: url(assets/uwaa-sprite.svg) no-repeat -228px -493px;
            content: "";
            opacity: .4;
            display: block;                                 
            width: 14px;
            height: 21px;            
            -o-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);

            &:hover, &:focus {
                border-bottom: none;
            }
        }
    }

}


///////////////
//Menu for Jump Buttons
//


.menu-ui {  
  position:absolute;
  bottom:20px;
  right:10px;
  z-index:1;
  display: none; 




    .uwaa-btn-wrapper {
        margin-right:0;

        &:first-child {
            margin-right: 30px;
        }

        


        span {
            font-weight: 900;
            font-size: 17px;
            font-family: "Encode Sans Compressed", sans-serif;
            letter-spacing: 1px; 
            border-radius: 0;
            height:1.95em;
            line-height: 1.3;
            text-transform: uppercase;
            padding: .412em;    
            padding-top: .32em;
            color:@white;
            cursor: pointer;

            &:before {
            width: 40px;
            height: 1.95em;
            }

            &:hover {
                color: @darkgold;

            }


        }

         .btn-gold {
        &:hover {
            color: @purple;
        }
    }

    }   
  
  }


//
//Spinner for loading
//
//

#loader {
    position:relative;     
    width:100%;
    height: 100%;
    background:rgba(255, 255, 255, 0.5);
    z-index: 1;


    .spinner {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        background: url(assets/icons/map-loader.gif) no-repeat 0 0 transparent;
        width: 32px;
        height: 32px;
    }
    

    &.done {
    background:rgba(255, 255, 255, 0);
    }

    &.hide {
        display:none;
    }


}