node_modules
*.swp
*.swo
*.env.*
assets/fonts/heron.*
bower_components
vendor/*
!vendor/UWAA
.vs
*.phpproj*
project/*
*.log
*.sln
less/reference.less
acf-json/group_5f29d49c76935.json
acf-json/group_5f5f9914004b7.json
acf-json/group_5f8f66277c172.json
acf-json/group_5f9a4da0c6111.json
acf-json/group_624e16e75ca69.json
acf-json/group_62bcdd74cb9f5.json
acf-json/group_5f29d49c76935.json
acf-json/group_5f5f9914004b7.json
acf-json/group_5f8f66277c172.json
acf-json/group_5f9a4da0c6111.json
acf-json/group_624e16e75ca69.json
acf-json/group_62bcdd74cb9f5.json
