
#header {

	height:@header-row-height * @tablet-resize * .8;

	

}


#conGRADulations {
		position: absolute;
		right:0;
		top:235px;
		background-color: @dark-purple;
		padding:10px;
		
		h1{

		font-size: ((@font-size-h1)*.7);
	}
}

#yellow-dot {
	width: 80px;
    height: 80px;
    top: 18.2%;
    font-size: 15px;
		
		span{
		
 bottom: 7px;
    height: 11px;
    width: 16px;
    left: 32px;
		
		}
		
}

