.content-row {

h1 {
	font-size: ((@font-size-h1 * @tablet-resize) *.8 );
	margin:0;
}

p {
	font-size: (@font-size-base * @tablet-resize);
	margin:0;
}

}

.loveUW{
	padding:0;
	h3{
		margin-top:.5em;
	
	.break {
		.responsive-visibility();
		line-height: 0;
	}

	}
}

.caption{
min-height: 22px;
}


.footer-copy {

	margin-left: 130px;
	margin-right: 10px;

	p{
	font-size:13px;
	line-height: 1.2;

}

}
