h1 {
	font-size: @font-size-h1*.5;
}

p {
	font-size: @font-size-base*.59;
	line-height: 1.46;
	margin-bottom:0;
}

.footer-copy p {
	font-size:12px;
}

.content-row{
	h3{
		margin-top:0;
		margin-bottom:7px;
		font-weight: 700;
	}

	p {
		font-size: 13px;
		padding: 0 10px;
	}


	ul {
	margin-top:10px;	
	ul {
		margin-top: 0;
 		li  {
			line-height: 1.5;
			}
	}
	li {
	line-height: 1.7;
	font-size: (@font-size-base*.59);
	}

}
}



// Join Row
.loveUW{
	h3{
		text-align: center;
		font-size:25px;
		width: 100%;
		margin-top:.43em;
		margin-bottom:0;
		color: #3d3d3d;
		font-weight: 700;
		padding-top: 15px;
	.break {
		.responsive-visibility();
		line-height: 0;
	}

	}

}