.content-row {

h1 {
	font-size: ((@font-size-h1 * @tablet-resize) *.75 );
	margin:0;
	margin-bottom: 10px;
}

p {
	font-size: (@font-size-base * @tablet-resize);
	margin:0;
}

ul {
	margin-top:10px;	
	ul {
		margin-top: 0;
 		li  {
			line-height: 1.5;
			}
	}
	li {
	line-height: 1.7;
	font-size: (@font-size-base * @tablet-resize);
	}

}
}

.loveUW{
	h1{
		font-size:((@font-size-h1 *.9) * @tablet-resize * .83);

	}
}

.caption{
min-height: 22px;
}

