.loveUW{
	h1{
		font-size:((@font-size-h1 * @desktop-resize *.8));

	}
}

.content-row {
.copy{
h1 {
	font-size: ((@font-size-h1 * @desktop-resize) );
	margin:0;
	margin-bottom: 10px;
}

p {
	font-size: (@font-size-base * @desktop-resize);
	margin-bottom:0;
	
}
}

.caption{
min-height: 0;
line-height: 1.5;
font-size: 23px;
}
}


