
.content-row {
.copy{
h3 {
	color: #3d3d3d;
    font-weight: 700;
	margin:0;
	margin-bottom: 6px;
    margin-top: 20px;
}

p {
	font-size: (@font-size-base);
	margin-bottom:20px;
	
}
}

.caption{
min-height: 0;
line-height: 1.5;
font-size: 23px;
}
}



// Join Row
.loveUW{
	h3{
		font-size:((@font-size-h1 * @desktop-resize *.8));        

	}
}

@media (min-width:1200px) {
	.loveUW{
	h3{
		font-size:((@font-size-h1 * @desktop-resize));        

	}
}

}